<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ensureaway"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:name="com.ensureaway.EnsureAwayApp">
        <meta-data android:name="AA_DB_NAME" android:value="ensureaway.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <activity android:name=".activities.EnsureAwayActivity" >
        </activity>

        <receiver android:name=".receivers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ScreenReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AdminReceiver" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name=".services.LockService" >
        </service>

        <activity android:name=".activities.LockActivity" >
        </activity>

        <receiver android:name=".receivers.LockReceiver" >
            <intent-filter>
                <action android:name="com.ensureaway.LOCK_DEVICE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>